 <div class="footer">
      <div class="insidefooter">
        <div class="fthead">
          <h3>GET-DROP</h3>

        </div>
        <div class="ftpara">

          <p>get drop is a website built from hardship and perseverance to achieve the ultimate result.
            we are dedicated to bring to you an outstanding range of services and will continue to further update our
            work
            This website is for finding legitimate airdrops that are actually paying and have real worth and value.</p>
        </div>
        <ul class="socials">
          <li><a href="https://www.discord.com"><i class="fa fa-phone"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>