<html lang="en">
<head>
    <link rel="icon" href="GetdropLogo2.png" type="image/x-icon" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css" />

    <title>Getdrop login</title>
</head>
<body>
    <div class="container">
    <h1>Hi, {{name}}</h1>
    <div class="divider"></div>
   <div class="section"> <p> Unfortunately, this site is still under heavy development and your profile cant be loaded at this time. Rest assured your details has been saved on our database so you wont need to register again when your profile is ready</p></div>
   <div class="section"><p>Until then you can still log into your profile with your Google Account</p></div>
   <div class="divider"></div>
   <div class="section"> <a href="/auth/google" class="btn red darken-1 themebutton">
        <i class="fab fa-google left"></i> Log in With Google</a>
        <a href="/" class="btn blue darken-2 themebutton">Return to Homepage</a>
        </div>
        
        </div>
</body>
</html>